{
  "web": {
    "issuer": "http://192.168.10.171:8890/realms/kc-thaibinh",
    "auth_uri": "http://192.168.10.171:8890/realms/kc-thaibinh/protocol/openid-connect/auth",
    "client_id": "superset",
    "client_secret": "Yt99Jolb0NX2BGkVuHQSfJR1kJwH1k8F",
    "redirect_uris": ["http://192.168.10.171:8890/*"],
    "userinfo_uri": "http://192.168.10.171:8890/realms/kc-thaibinh/protocol/openid-connect/userinfo",
    "token_uri": "http://192.168.10.171:8890/realms/kc-thaibinh/protocol/openid-connect/token",
    "token_introspection_uri": "http://192.168.10.171:8890/realms/kc-thaibinh/protocol/openid-connect/token/introspect",
    "scope": "openid profile email"
  }
}